extends layout

block content

  h1 Performer: #{author.name}
  p #{author.lifespan}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Music
    
    dl
    each book in author_books
      dt 
        a(href=book.url) #{book.title}
      dd #{book.summary}

    else
      p This performer has no music.
      
  hr
  p
    a(href=author.url+'/delete') Delete performer
  p
    a(href=author.url+'/update') Update performer
